{% extends 'base.html' %}
{% block content %}

    <div class="video">
        <h1>{{ target_video.title }}</h1>
        <div class="video-box">

            <video id="video1" width="500px" height="500px" controls autoplay>
                <source src="{{ target_video.video_file.url }}" type="video/mp4">
            </video>
        </div>

        <div class="video-box">
            <video id="video2" width="500px" height="500px" controls autoplay>
                <source src="{{ target_video.yolo_file.url }}" type="video/mp4">
            </video>
        </div>
    </div>

{% endblock %}